* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  background-color: rgb(20, 0, 0);
}

ul {
  list-style: none;
}

.coinlist-image {
  width: 50px;
}

.coinList-item {
  display: flex;
}

.coinsummary {
  border-color: rgb(24, 13, 13) !important;
  border-style: outset !important;
}

.coin-data-category {
  font-size: 10px;
}

.coin {
  padding-right: 30px;
}

.delete-icon {
  display: none;
  position: absolute;
  right: 6px;
}

.coin:hover .delete-icon {
  display: block;
}

.btn-container {
  display: flex;
  flex-wrap: inherit;
}

.days-btn {
  margin: 5px;
  padding: 1px 7px;
  cursor: pointer;
  width: 50%;
  background: rgb(72, 97, 93);
  color: rgb(255, 251, 251);
  border-radius: 5px;
  border: 1px solid rgb(236, 233, 233);
}

.days-btn:hover {
  opacity: 0.7;
}

.white {
  color: aliceblue;
}
