* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  background-color: rgba(16, 20, 43, 0.904);
}

ul {
  list-style: none;
}

.coinlist-image {
  width: 50px;
}

.coinList-item {
  display: flex;
}

.coinsummary {
  border-color: white !important;
  border-style: outset !important;
}

.coin-data-category {
  font-size: 10px;
}

.coin {
  padding-right: 30px;
}

.delete-icon {
  display: none;
  position: absolute;
  right: 6px;
}

.coin:hover .delete-icon {
  display: block;
}
